
<ion-header>
    <ion-navbar>

  
      <ion-title>
        {{'About Us' }}
      </ion-title>
  

    </ion-navbar>
  </ion-header>

<ion-content class="page-about-us" padding>
  <div [innerHTML]="shared.aboutUs"></div>

  <ion-list>

    <ion-item button (click)="showModal('privacyPolicy')">
        {{'Privacy Policy'}}

    </ion-item>
    <ion-item button (click)="showModal('refundPolicy')">
        {{'Refund Policy'}}

    </ion-item>
    <ion-item button (click)="showModal('termServices')">
        {{'Term and Services'}}

    </ion-item>
  </ion-list>
</ion-content>
